/* 전체 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    scroll-behavior: smooth; /* 부드러운 스크롤 */
    overflow: hidden; /* 기본 body 스크롤 숨기기 */
    align-items: center;

}

body {
    overflow-y: scroll; /* 수직 스크롤 허용 */
    scroll-snap-type: y mandatory; /* 스냅 스크롤 설정 */
}

.section {
    height: 100vh; /* 각 섹션을 화면 전체 높이로 설정 */
    display: flex;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: start; /* 섹션 시작점에 스냅 */
    position: relative;
    font-size: 2rem;
    background-size: 100%; 
    background-attachment: fixed;  
} 

.section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* 반투명 흰색 레이어 */
    z-index: 0; /* 섹션 내용 뒤에 배치 */
}

/* 세로 선 스타일 */
.vertical-line {
    left: 7.2%;  /* 왼쪽에 위치 */
    top: 25%;  /* 상단에 위치 */
    width: 2px; /* 의 너비 */
    height: calc(100% - 25%); /* 상단 띄운 만큼 제외한 높이 */
    background-color: #000;  /* 선의 색상 */
    z-index: 0;  /* 다른 콘텐츠보다 위로 올리기 */
    position: absolute; /* 절대 위치 지정 */
}
@media only screen and (max-width: 768px)
{
    .vertical-line {
        left: 7.2%;  /* 왼쪽에 위치 */
        top: 15%;  /* 상단에 위치 */
        width: 2px; /* 의 너비 */
        height: calc(100% - 15%); /* 상단 띄운 만큼 제외한 높이 */
        background-color: #000;  /* 선의 색상 */
        z-index: 0;  /* 다른 콘텐츠보다 위로 올리기 */
        position: absolute; /* 절대 위치 지정 */
    }
}
/*-----------------------------------------------------------------*/

/* 네비게이터 바 스타일 */
.navbar {
    position: sticky; /* 스크롤 시 상단에 고정 */
    top: 0; /* 상단에 고정 */
    background-color: #ffffff00; /* 배경색 */
    z-index: 1000; /* 다른 콘텐츠보다 위로 올림 */
    max-width: 1800px; /* 너비 100% */
    max-height: fit-content;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 그림자 효과 */
    padding: 10px 0; /* 상하 여백 */
}
.timeline {
    position: sticky;
    top: 70px;
    z-index: 1000;
    width: 100%;
    align-items: center;
}
.timeline img {
    width: 86%;  /* 이미지의 너비를 부모 요소에 맞추기 */
    height: auto; /* 비율을 유지하며 높이 자동 조정 */
    display: block; 
    margin: 0 auto;  /* 블록 요소의 가운데 정렬을 위한 마진 */
}

/* 네비게이터 바 링크 스타일 */
.nav-links {
    list-style: none; /* 기본 리스트 스타일 제거 */
    margin: 0; /* 여백 제거 */
    padding: 0; /* 여백 제거 */
    text-align: center; /* 가운데 정렬 */
}

/* 네비게이터 바 링크 항목 */
.nav-links li {
    display: inline-block; /* 가로 배치 */
    margin: 0px; /* 항목 간 간격 */
}

/* 네비게이터 바 링크 */
.nav-links a {
    display: inline-block; /* 이미지가 가로로 배치되도록 설정 */
    width: 17%; /* 이미지 너비 */
    height: auto; /* 이미지 높이 */
}

/* 네비게이터 바 이미지 */
.nav-links img {
    width: 100%; /* 이미지가 버튼 크기에 맞게 조정 */
    height: auto; /* 이미지 크기 조정 */
    object-fit: contain; /* 이미지 비율 유지 */
    transition: transform 0.3s ease; /* 호버 시 이미지 확대 효과 */
    display: inline-block; /* 이미지가 가로로 배치되도록 설정 */
    filter: blur(1px)  brightness(1.8)  opacity(50%); /* 기본적으로 흐리게 설정 */
    transition: filter 0.3s ease; /* 필터 변경에 부드러운 전환 효과 추가 */
}
.nav-links li a:nth-child(4) img {
    filter: blur(0); /* 네네 번째 이미지만 블러 제거 */
}
/* 호버 시 이미지 확대 */
.nav-links a:hover img, .nav-links :active img {
    transform: scale(1.1) ease; /* 마우스 오버 시 이미지 확대 */
    filter: blur(0); /* 호버 또는 활성화 시 선명하게 설정 */
}

.nav .category {
    display: inline-block;
    margin: 0 10px;
    transition: filter 0.3s ease; /* 필터 변경에 부드러운 전환 효과 추가 */
}

/*-----------------------------------------------------------------*/
/* 섹션별 배경 색상 */
#section0 {  
    background-image: url(image/bg.png);
    background-size: 100%; /* 이미지 크기 조정 (50%로 줄임) */
    background-position: center; /* 이미지 위치 중앙 */
    background-repeat: no-repeat; /* 반복 방지 */
    background-attachment: fixed; /* 고정 배경 */
    
 }
#section1 {  
    background-image: url(image/bg.png); 
    background-size: 100%; /* 이미지 크기 조정 (50%로 줄임) */
    background-position: center; /* 이미지 위치 중앙 */
    background-repeat: no-repeat; /* 반복 방지 */
    background-attachment: fixed; /* 고정 배경 */
}
#section2 {   background-image: url(image/bg.png); 
    background-size: 100%; /* 이미지 크기 조정 (50%로 줄임) */
    background-position: center; /* 이미지 위치 중앙 */
    background-repeat: no-repeat; /* 반복 방지 */
    background-attachment: fixed; /* 고정 배경 */
}
#section3 {   background-image: url(image/bg.png); 
    background-size: 100%; /* 이미지 크기 조정 (50%로 줄임) */
    background-position: center; /* 이미지 위치 중앙 */
    background-repeat: no-repeat; /* 반복 방지 */
    background-attachment: fixed; /* 고정 배경 */
}
#section4 {   background-image: url(image/bg.png); 
    background-size: 100%; /* 이미지 크기 조정 (50%로 줄임) */
    background-position: center; /* 이미지 위치 중앙 */
    background-repeat: no-repeat; /* 반복 방지 */
    background-attachment: fixed; /* 고정 배경 */
}

/*------------------------------------------------대표이미지--------------------------------------------*/

.title{
    position: absolute;
    height: 35%;
    width: fit-content;
    top: 20%;
    left: 31.5%; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .title{
        position: absolute;
        height: 25%;
        width: fit-content;
        top: 20%;
        left: 7%; 
        padding: 10px;
    }  
}
.title1{
    position: absolute;
    height: 275px;
    width: fit-content;
    top: 80px; 
    left: 220px; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .title1{
        position: absolute;
        height: 175px;
        width: fit-content;
        top: 50px; 
        left: 0px; 
        padding: 10px;
    }
}

.title2{
    position: absolute;
    height: 215px;
    width: fit-content;
    top: 20px; 
    left: 1100px; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .title2{
        position: absolute;
        height: 90px;
        width: fit-content;
        top: 20px; 
        left: 300px; 
        padding: 10px;
    }
}
.title3{
    position: absolute;
    height: 215px;
    width: fit-content;
    top: 35px; 
    left: 1300px; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .title3{
    position: absolute;
    height: 90px;
    width: fit-content;
    top: 35px; 
    left: 360px; 
    padding: 10px;
    }
}
.title4{
    position: absolute;
    height: 370px;
    width: fit-content;
    top: 525px; 
    left: -25px; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .title4{
        position: absolute;
        height: 150px;
        width: fit-content;
        top: 450px; 
        left: -25px; 
        padding: 10px;
        /* transform: scaleX(-1); X축을 기준으로 뒤집기 */
    }
}
.title5{
    position: absolute;
    height: 600px;
    width: fit-content;
    top: 130px; 
    left: 760px; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .title5{
        position: absolute;
        height: 330px;
        width: fit-content;
        top: 200px; 
        left: 160px; 
        padding: 10px;
    }
}
.title6{
    position: absolute;
    height: 220px;
    width: fit-content;
    top: 580px; 
    left: 1300px; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .title6{
    display: none;
}
}
.title7{
    position: absolute;
    height: 40px;
    width: fit-content;
    top: 575px; 
    left: 440px; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .title7{
    display: none;
}
}
.title8{
    position: absolute;
    height: 120px;
    width: fit-content;
    top: 640px; 
    left: 445px; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .title8{
    display: none;
}
}
/*--------------------------------------------------------------------------------------------------------------*/

/* 본문 내 이미지 들어갈 범위*/
.contentLeft {
    position: absolute;
    top: 15%;
    left: 7%;
    padding: 20px;
    font-size: 1.5rem;
    color: inherit;
    max-width: 960px;
    max-height: 1080px;
}

.contentRight {
    position: absolute;
    top: 15%;
    left: 50%;
    padding: 20px;
    font-size: 1.5rem;
    color: inherit;
    max-width: 960px;
    max-height: 1080px;
}
/* ----------------이미지 호버 -----------------------------*/
.hover-container {
    position: relative;
    display: inline-block;
}

/*
.nowon1-4 {
    display: block;
    width: 100%;
    height: auto;
}
*/

.hover-link {
    position: absolute;
    top: 261px;
    left: 140px;
    transform: translateX(-50%);
    display: none; /* 기본적으로 숨김 */
    background-color: rgba(61, 64, 255, 0.783);
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    z-index: 10;
    white-space: nowrap;  /* 텍스트가 한 줄로 유지되도록 */
}

/* 호버 시 링크 표시 */
.hover-container:hover .hover-link {
    display: block;
}
/* ------------------------------텍스트 -----------------------------*/
/*본문 텍스트 전체 조정*/
.main{
    font-size: 13.5px;
    line-height: 1.8;
    font-weight: 400;
    text-align: left;
}
@media only screen and (max-width: 768px)
{
    .main{
        font-size: 11.5px;
        line-height: 1.7;
        font-weight: 500;
        text-align: left;
    }
    .hover-container:hover .hover-link {
        display: none;
    }
}
/*본문 텍스트 조정할 범위*/
.text{
    position: relative;
    top: -250px;
    left: 0px;
    width: 1500px;
    height: auto;
}
.highlight {
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.highlight.hovered {
    background-color: #2a3b68; /* 노란색 하이라이트 */
    color: #ffffff;
    border-radius: 3px;
}

.highlight.reset {
    background-color: transparent; /* 원래 상태 */
    color: inherit;
}
/*------------------------------------------아산섹션 1--------------------------------------------*/
.T{
    position: absolute;
    top: 15%;
    left: 7.1%;
}
@media only screen and (max-width: 768px)
{
    .T{
        position: absolute;
        top: 11%;
        left: 7.1%;
        font-size: 1.5rem;
    } 
}
#asan1-1{
    position: absolute;
    height: auto;
    width: fit-content;
    top: 15px; 
    left: 49%; 
    padding: 10px;
}
.asanf1-1{
    position: absolute;
    height: auto;
    width: 650px;
    top: -70px;
    left: 45%; 
    padding: 10px;
}
#asan1-2{
    position: absolute;
    height: auto;
    width: fit-content;
    top: 280px; 
    left:55%; 
    padding: 10px;
}
.asanf1-2{
    position: absolute;
    height: auto;
    width: 730px;
    top: 235px;
    left: 52%; 
    padding: 10px;
}
#asan1-3{
    position: absolute;
    height: auto;
    width: fit-content;
    top: 450px; 
    left: 42%; 
    padding: 10px;
}
.asanf1-3{
    position: absolute;
    height: auto;
    width: 714px;
    top: 420px;
    left: 40%; 
    padding: 10px;
}@media only screen and (max-width: 768px)
{
    #asan1-1, #asan1-2, #asan1-3, .asanf1-1, .asanf1-2, .asanf1-3{
        display: none;
    }
}

#asanphone1, .MF1{
    display: none;
}
@media only screen and (max-width: 768px)
{
    #asanphone1{
        display: block;
        position: absolute;
        height: auto;
        width: 400px;
        top: 365px; 
        left: 12%;
        padding: 10px;
    }
}
@media only screen and (max-width: 768px)
{
    .MF1{
    display: block;
    position: absolute;
    height: auto;
    width: 460px;
    top: 320px; 
    left: 5%;
    padding: 10px;
}
}
/*--------------------------------섹션1이미지------------------------------------*/
.asan1-1{
    position: absolute;
    height: 300px;
    width: fit-content;
    top: 90px; 
    left: 25px; 
    padding: 10px;
}
.asan1-2{
    position: absolute;
    height: 270px;
    width: fit-content;
    top: 330px;
    left: 60px; 
    padding: 10px;
}
.asan1-3{
    position: absolute;
    height: 170px;
    width: fit-content;
    top: 530px; 
    left: 320px; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .asan1-1{
        position: absolute;
        height: 180px;
        width: fit-content;
        top: 0px; 
        left: 25px; 
        padding: 10px;
    }
    .asan1-2{
        position: absolute;
        height: 200px;
        width: fit-content;
        top: 170px;
        left: 80px; 
        padding: 10px;
    }
    .asan1-3{
        position: absolute;
        height: 120px;
        width: fit-content;
        top: 280px; 
        left: 20px; 
        padding: 10px;
    }
}
/*------------------------------------------아산 타임라인 1--------------------------------------------*/
.asant1{
    position: absolute;
    height: 93px;
    width: fit-content;
    top: 70px; 
    left: -40px; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .asant1{
        position: absolute;
        height: 93px;
        width: fit-content;
        top: -20px; 
        left: -40px; 
        padding: 10px;
    }
}
.asant1-2{
    position: absolute;
    height: 93px;
    width: fit-content;
    top: 650px; 
    left: -40px; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .asant1-2{
        position: absolute;
        height: 93px;
        width: fit-content;
        top: 650px; 
        left: -40px; 
        padding: 10px;
    }
}
/*------------------------------------------아산섹션 2--------------------------------------------*/
#asan2-1{
    position: absolute;
    height: auto;
    width: fit-content;
    top: 120px;
    left: 15%; 
    padding: 10px;
}
.asanf2-1{
    position: absolute;
    height: auto;
    width: 450px;
    top: 80px;
    left: 12%; 
    padding: 10px;
}
#asan2-2{
    position: absolute;
    height: auto;
    width: fit-content;
    top: 400px; 
    left: 8%; 
    padding: 10px;
}
.asanf2-2{
    position: absolute;
    height: auto;
    width: 750px;
    top: 330px;
    left: 5%; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    #asan2-1, #asan2-2, .asanf2-1, .asanf2-2{
        display: none;
    }
}

#asanphone2, .MF2{
    display: none;
}
@media only screen and (max-width: 768px)
{
    #asanphone2{
        display: block;
        position: absolute;
        height: auto;
        width: 400px;
        top: 560px; 
        left: 12%;
        padding: 10px;
    }
}
@media only screen and (max-width: 768px)
{
    .MF2{
    display: block;
    position: absolute;
    height: auto;
    width: 460px;
    top: 520px; 
    left: 5%;
    padding: 10px;
}
}
/*--------------------------------섹션2이미지------------------------------------*/
.asan2-1{
    position: absolute;
    height: 240px;
    width: fit-content;
    top: 120px; 
    left: -80px; 
    padding: 10px;
}
.asan2-2{
    position: absolute;
    height: 370px;
    width: fit-content;
    top: 0px; 
    left: 210px; 
    padding: 10px;
}
.asan2-3{
    position: absolute;
    height: 240px;
    width: fit-content;
    top: 250px;
    left: 370px;
    padding: 10px;
}
/*----대전 톨게이트 사이즈 맞춰뒀습니다----*/
.asan2-4{
    position: absolute;
    height: 300px;
    width: fit-content;
    top: 340px;
    left: 70px; 
    padding: 10px;
}
.asan2-5{
    position: absolute;
    height: 109px;
    width: fit-content;
    top: 557px; 
    left: 110px; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .asan2-1{
        position: absolute;
        height: 170px;
        width: fit-content;
        top: 60px; 
        left: -80px; 
        padding: 10px;
    }
    .asan2-2{
        position: absolute;
        height: 200px;
        width: fit-content;
        top: 100px; 
        left: -200px; 
        padding: 10px;
    }
    .asan2-3{
        position: absolute;
        height: 160px;
        width: fit-content;
        top: 150px;
        left: 15px;
        padding: 10px;
    }
    /*----대전 톨게이트 사이즈 맞춰뒀습니다----*/
    .asan2-4{
        position: absolute;
        height: 180px;
        width: fit-content;
        top: 240px;
        left: -100px; 
        padding: 10px;
    }
    .asan2-5{
        position: absolute;
        height: 60px;
        width: fit-content;
        top: 360px; 
        left: -50px; 
        padding: 10px;
    }
}
/*-----------------------------------------아산 타임라인 2--------------------------------------------*/
.asant2{
    position: absolute;
    height: 93px;
    width: fit-content;
    top: 30px; 
    left: -18px; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .asant2{
        position: absolute;
        height: 93px;
        width: fit-content;
        top: -60px; 
        left: -18px; 
        padding: 10px;
    }
}
/*------------------------------------------아산섹션 3--------------------------------------------*/
#asan3-1{
    position: absolute;
    height: auto;
    width: fit-content;
    top: 95px; 
    left: 53.5%;
    padding: 10px;
}
.asanf3-1{
    position: absolute;
    height: auto;
    width: 580px;
    top: 50px;
    left: 50%; 
    padding: 10px;
}
#asan3-2{
    position: absolute;
    height: auto;
    width: fit-content;
    top: 250px; 
    left:60%;
    padding: 10px;
}
.asanf3-2{
    position: absolute;
    height: auto;
    width: 720px;
    top: 220px;
    left: 55%; 
    padding: 10px;
}
#asan3-3{
    position: absolute;
    height: auto;
    width: fit-content;
    top: 450px; 
    left: 48%; 
    padding: 10px;
}
.asanf3-3{
    position: absolute;
    height: auto;
    width: 510px;
    top: 405px;
    left: 44%; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    #asan3-1, #asan3-2, #asan3-3, .asanf3-1, .asanf3-2, .asanf3-3{
        display: none;
    }
}

#asanphone3, .MF3{
    display: none;
}
@media only screen and (max-width: 768px)
{
    #asanphone3{
        display: block;
        position: absolute;
        height: auto;
        width: 400px;
        top: 410px; 
        left: 12%;
        padding: 10px;
    }
}
@media only screen and (max-width: 768px)
{
    .MF3{
    display: block;
    position: absolute;
    height: auto;
    width: 460px;
    top: 370px; 
    left: 5%;
    padding: 10px;
}
}
/*--------------------------------섹션3이미지------------------------------------*/
.asan3-1{
    position: absolute;
    height: 380px;
    width: fit-content;
    top: 80px; 
    left: 210px; 
    padding: 10px;
}
.asan3-2{
    position: absolute;
    height: 320px;
    width: fit-content;
    top: 400px;
    left: 250px; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .asan3-1{
        position: absolute;
        height: 230px;
        width: fit-content;
        top: 50px; 
        left: 60px; 
        padding: 10px;
    }
    .asan3-2{
        position: absolute;
        height: 220px;
        width: fit-content;
        top: 250px;
        left: 100px; 
        padding: 10px;
    } 
}
/*------------------------------------------아산 타임라인 3--------------------------------------------*/
.asant3{
    position: absolute;
    height: 93px;
    width: fit-content;
    top: 80px; 
    left: -40px; 
    padding: 10px;
}
@media only screen and (max-width: 768px)
{
    .asant3{
        position: absolute;
        height: 93px;
        width: fit-content;
        top: -10px; 
        left: -40px; 
        padding: 10px;
    }
}